/* Style sheet umfragen */
.ce_survey .formbody{margin-bottom:36px;}
.ce_survey table,.ce_survey td{margin-right:0;margin-left:0;padding-right:0;padding-left:0;}
.ce_survey .introduction,.ce_survey .finalstatement{margin-bottom:2em;}
.ce_survey .pagetitle{margin-top:24px;margin-bottom:24px;padding-right:7px;padding-bottom:2px;padding-left:7px;background-color:#000098;font-weight:bold;color:#ffffff;text-transform:uppercase;}
.ce_survey .before,.ce_survey .after{vertical-align:top;}
.ce_survey .surveyhead{overflow:auto;}
.ce_survey .surveytitle{font-weight:bold;font-size:130%;}
.ce_survey .surveyhead .left{width:32%;float:left;}
.ce_survey .surveyhead .middle{margin-right:32%;margin-left:32%;text-align:center;}
.ce_survey .surveyhead .right{width:32%;float:right;text-align:right;}
.ce_survey .submit_container{overflow:auto;}
.ce_survey .submit_container .left{width:32%;float:left;}
.ce_survey .submit_container .middle{margin-right:32%;margin-left:32%;text-align:center;}
.ce_survey .submit_container .right{width:32%;float:right;text-align:right;}
input[type="submit"]{width:100%;color:white;background-color:#000098;border-top:1px solid #666;border-right:2px solid #666;border-bottom:2px solid #666;border-left:1px solid #666;}
.ce_survey .pageintroduction{padding:12px 12px 12px 0;}
.ce_survey p.error,.ce_survey .tl_error{padding:2px 0 5px 20px;margin:5px 0;font-weight:bold;color:#e65d49;background: transparent url(files/survey/images/exclamation.png) no-repeat left top;}
.surveytable{width:100%;}
.surveytable td{vertical-align:top;}
.surveytable .titlecolumn{text-align:right;font-weight:bold;}
.surveytable .questioncolumn{}
.surveyblock{margin:1em 0;}
.surveyblock .help{font-style:italic;font-size:80%;color:#909090;}
.ce_survey .question{margin-top:12px;margin-bottom:0;margin-left:3px;}
.surveyblock .widget{}
.surveyblock .mandatory{font-weight:bold;color:#ff0000;}
.mc td{text-align:center;}
.constantsum input[type="text"]{width:4em;}
.matrix table{width:100%;}
.matrix td{vertical-align:middle;border-top:0px solid #ddd;border-right:0px solid #ddd;border-bottom:1px solid #ddd;border-left:0px solid #ddd;}
.matrix td.id-1,.matrix td.id-2,.matrix td.id-3,.matrix td.id-4,.matrix td.n-x{height:36px;text-align:center;font-size:0px;color:#fff;width:6% !important;}
.matrix .columnheader.id-1{background:url("../images/smiley_laugh.png") center top no-repeat;}
.matrix .columnheader.id-2{background:url("../images/smiley_smile.png") center top no-repeat;}
.matrix .columnheader.id-3{background:url("../images/smiley_indifferent.png") center top no-repeat;}
.matrix .columnheader.id-4{background:url("../images/smiley_sad.png") center top no-repeat;}
.matrix .columnheader .n-x{background:url("../images/smiley_neutral.png") center top no-repeat;}
.matrix td.rowtext{margin-left:0;padding-left:0;width:70% !important;}
.matrix .leftadjective,.matrix .rightadjective{text-align:center;vertical-align:middle;background-color:#DBDEF2;}
.openended textarea{width:100%;margin-left:24px;background-color:#DBDEF2;}
.openended input{margin-left:24px;background-color:#DBDEF2;}
.question p.explanation{margin-bottom:12px;font-style:italic;color:#0A1F67;}
.progressbar_container{width:714px;height:20px;margin-bottom:24px;background:url("../images/progressbar_container.png") left center no-repeat;}
.progressbar{text-align:center;background:url("../images/progressbar.png") left bottom no-repeat;}
.progressbar span{font-style:italic;font-size:6px;color:#8489cc;line-height:11px;}
