.questionheader {
	color: black;
	margin: 0.5em 0;
	padding: 0.5em 0;
}

.questionnumber {
	font-weight: bold;
}

.questiontitle {
}

.questiontype {
	font-weight: normal;
	color: #7f7f7f;
}

/* backend statistics details */

td.first {
	vertical-align: top;
}

table.tl_cumulated {
	border-collapse:collapse;
	border:  1px #666 solid;
}

.tl_cumulated td {
	border:  1px #666 solid;
	padding: 0.25em;
}

.tl_cumulated th {
	border:  1px #666 solid;
	background-color: #666;
	color: #fff;
	padding: 0.25em;
}

.constantsum td.counter {
	font-weight: bold;
	border-right: 0px;
}

.constantsum td.answer {
	border-left: 0px;
	text-align: right;
}

.constantsum td.selections {
	text-align: center;
}

.matrix td.counter, .multiplechoice td.counter {
	font-weight: bold;
	border-right: 0px;
}

.matrix td.answer, .multiplechoice td.answer {
	border-left: 0px;
	text-align: left;
}

.matrix td.selections, .multiplechoice td.selections {
	text-align: center;
}

/* Icons header */
.header_export
{
	padding:2px 0 3px 20px;
	background-image:url("../html/images/export.png");
	background-position:left center;
	background-repeat:no-repeat;
}

.header_createtan
{
	padding:2px 0 3px 20px;
	background-image:url("../html/images/createtan.png");
	background-position:left center;
	background-repeat:no-repeat;
}

