/* Style sheet decent_green */

.ce_survey {
	padding: 1em;
}

.ce_survey .introduction {
	margin-bottom: 2em;
	padding: 3em;
	background-color: #b8dad6;
	border: 1px solid #888;
}

.ce_survey .finalstatement {
	margin-bottom: 2em;
	padding: 3em;
	background-color: #b8dad6;
	border: 1px solid #888;
}

.ce_survey .pagetitle {
	padding: 1em 0.5em;
	background-color: #aac8c3;
	border-top: 2px solid #888888;
	border-bottom: 2px solid #888888;
	font-weight: bold;
	font-size: 130%;
	color: #000;
}

.ce_survey .before {
	vertical-align: top;
}

.ce_survey .after {
	vertical-align: top;
}

.ce_survey .surveyhead {
	overflow: auto;
	padding: 1em 0.5em;
	background-color: #aac8c3;
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
	margin-bottom: 2em;
	color: #000;
}

.ce_survey .surveytitle {
	font-weight: bold;
	font-size: 130%;
}

.ce_survey .surveyhead .left {
	width: 32%;
	float: left;
}

.ce_survey .surveyhead .middle {
	margin-right: 32%;
	margin-left: 32%;
	text-align: center;
}

.ce_survey .surveyhead .right {
	width: 32%;
	float: right;
	text-align: right;
}

.ce_survey .submit_container {
	overflow: auto;
	padding: 1em 0.5em;
	background-color: #aac8c3;
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
	color: #000;
}

.ce_survey .submit_container .left {
	width: 32%;
	float: left;
}

.ce_survey .submit_container .middle {
	margin-right: 32%;
	margin-left: 32%;
	text-align: center;
}

.ce_survey .submit_container .right {
	width: 32%;
	float: right;
	text-align: right;
}

.ce_survey .pageintroduction {
	padding: 1em 0.5em;
}

.ce_survey p.error,.ce_survey .tl_error {
  padding:2px 0 15px 40px;
	margin:5px 0;
	font-weight: bold;
	color: #e65d49;
	background: transparent url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMC8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvVFIvMjAwMS9SRUMtU1ZHLTIwMDEwOTA0L0RURC9zdmcxMC5kdGQnPjxzdmcgaGVpZ2h0PSIzMiIgc3R5bGU9Im92ZXJmbG93OnZpc2libGU7ZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzMiAzMiIgdmlld0JveD0iMCAwIDMyIDMyIiB3aWR0aD0iMzIiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxnIGlkPSJFcnJvcl8xXyI+PGcgaWQ9IkVycm9yIj48Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiBpZD0iQkciIHI9IjE2IiBzdHlsZT0iZmlsbDojRDcyODI4OyIvPjxwYXRoIGQ9Ik0xNC41LDI1aDN2LTNoLTNWMjV6IE0xNC41LDZ2MTNoM1Y2SDE0LjV6IiBpZD0iRXhjbGFtYXRvcnlfeDVGX1NpZ24iIHN0eWxlPSJmaWxsOiNFNkU2RTY7Ii8+PC9nPjwvZz48L2c+PC9zdmc+") no-repeat left top;
}

.surveytable {
	width: 100%;
}

.surveytable td {
	vertical-align: top;
}

.surveytable .titlecolumn {
	text-align: right;
	font-weight: bold;
}

.surveytable .questioncolumn {

}

.surveyblock {
	background-color: #f0f0f0;
	border-top: 1px solid #888888;
	border-bottom: 1px solid #888888;
	color: #000;
	margin: 1em 0;
}

.surveyblock .title {
	padding: 0.25em 0.5em;
	background-color: #aac8c3;
	border-bottom: 1px solid #888888;
	font-weight: bold;
	font-size: 110%;
}

.surveyblock .help {
	font-weight: normal;
	font-size: 80%;
}

.surveyblock .question {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.surveyblock .widget {
	padding: 10px;
}

.surveyblock .mandatory {
	font-weight: bold;
	color: #ff0000;
}

.mc td {
	text-align: center;
}

.constantsum input[type="text"] {
	width: 4em;
}

.matrix table {
	width: 100%;
}

.matrix td {
	text-align: center;
}

.matrix td.columnheader {
	vertical-align: bottom;
}

.matrix td.rowtext {
	text-align: left;
}

.matrix .leftadjective,.matrix .rightadjective {
	text-align: center;
	vertical-align: middle;
	background-color: #eee;
	border: 1px solid #999;
}
